<div class="card card-success">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-6">
          <div class="card mb-2 bg-gradient-dark">
            <img class="card-img-top" src="../dist/img/dashboard5.jpg" alt="Dist Photo 1">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h5 class="card-title text-white mt-5 pt-2">Mission</h5>
              <p class="card-text text-white pb-2 pt-1">To provide effective solutions through innovative services and teamwork.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6">
          <div class="card mb-2">
            <img class="card-img-top" src="../dist/img/dashboard4.jpg" alt="Dist Photo 2">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h5 class="card-title text-white mt-5 pt-2">Moto</h5>
              <p class="card-text pb-2 pt-1 text-white ">
                Accuracy -
                Reliability -
                Simplicity.
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>