<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="/" class="brand-link">
        <img src="/dist/img/AdminLTELogo.png" alt="Company Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">ABC Company</span>
    </a>


    <div class="sidebar">
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar-new">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a class="d-block">Hello <%= name %></a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <%if (cat_id == 6 ){%>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Tasks
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/create-new-reqP" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>Create new request</p>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="/consum-repot" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>Get Report</p>
                                </a>
                            </li>
                            
                        </ul>
                    </li>

                    <%  } else  if (cat_id == 6 ) { %>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tractor"></i>
                            <p>
                                Fleet Management
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/fleet-management/brands" class="nav-link">
                                    <i class="nav-icon fas fa-align-left"></i>
                                    <p>Vehicle Brands</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/fleet-management/vehicles" class="nav-link">
                                    <i class="nav-icon fas fa-tractor"></i>
                                    <p>Vehicles</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/fleet-management/supplies" class="nav-link">
                                    <i class="nav-icon fas fa-truck-loading"></i>
                                    <p>Supplies</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <% } %>

                    <li class="nav-item">
                        <% if (url == '/') {%>
                        <a href="users/logout" class="nav-link">
                            <% }else { %>
                            <a href="../users/logout" class="nav-link">
                                <%}%>
                            <i class="fas fa-sign-out-alt"></i>
                            <p>
                                Log out
                            </p>
                        </a>
                    </li>




                    <li class="nav-item">
                        <a href="users/faq" class="nav-link">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <p>
                                FAQ
                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    </div>
    <!-- /.sidebar -->
</aside>