<%- include('_header',{title:"Dashboard"}) %>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
<!-- Main content -->
<div class="container">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>FAQ</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">FAQ</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  

<section class="content">
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            1. How to contact if problem regarding system?
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        You can mail to systemsupport@abc.lk your question or directly
                        contact us via hotline 01122434355
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>

</section>
<!-- /.content -->
</div>
</body>
    
<%- include('_footer') %>