    <!-- header-section start -->
    <%- include('_header', {title:"Index"}) %>
    <!-- header-section end -->

<p>Hello <%= name %> !</p>
    <a href="/users/logout">Log out</a>

<%- include('_footer') %>
